<div class="page-signup" id="signupPage" ng-controller="signupCtrl">
<div class="signin-header">
    <div class="container text-center">
        <h3>{{business}}</h3>
    </div>
</div>

<div class="container">
    <div rc-wizard="sampleWizard"
         rc-disabled="rc.firstForm.submitInProgress">
        <ul class="nav rc-nav-wizard">
            <li class="active">
                <a class="active" href="#first" data-toggle="tab">
                    <span class="badge">1</span>
                    <span>Business Information</span>
                </a>
            </li>
            <li>
                <a href="#second" data-toggle="tab">
                    <span class="badge">2</span>
                    <span>Choose a plan</span>
                </a>
            </li>
            <li>
                <a href="#last" data-toggle="tab">
                    <span class="badge">3</span>
                    <span>Checkout</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <form class="tab-pane active form-horizontal" id="first" name="businessInfo" rc-submit="saveState()" rc-step novalidate>

                <div class="row">
                    <div class="col-lg-6">

                        <h2>Business Information</h2>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="bName">Company name</label>

                            <div class="input-group col-sm-9"  ng-class="{'has-error': rc.businessInfo.needsAttention(businessInfo.bName)}">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-briefcase"></span>
                                </span>
                                <input type="text" required ng-model="business.name" id="bName" name="bName"
                                       class="form-control"
                                       placeholder="Company name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label" for="bStreet">Street</label>

                            <div class="input-group col-sm-9"
                                 ng-class="{'has-error': rc.businessInfo.needsAttention(businessInfo.bStreet)}">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-home"></span>
                        </span>
                                <input type="text" required ng-model="business.address.street" id="bStreet"
                                       name="bStreet" class="form-control"
                                       placeholder="Street">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label" for="bCity">City</label>

                            <div class="input-group col-sm-9"
                                 ng-class="{'has-error': rc.businessInfo.needsAttention(businessInfo.bCity)}">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-home"></span>
                        </span>
                                <input type="text" required ng-model="business.address.city" id="bCity" name="bCity"
                                       class="form-control"
                                       placeholder="City">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label" for="bZip">Zip Code</label>

                            <div class="input-group col-sm-9"
                                 ng-class="{'has-error': rc.businessInfo.needsAttention(businessInfo.bZip)}">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-home"></span>
                        </span>
                                <input type="number" required ng-model="business.address.zip" id="bZip" name="bZip"
                                       class="form-control"
                                       placeholder="Zip Code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label" for="bCountry">Country</label>

                            <div class="input-group col-sm-9"
                                 ng-class="{'has-error': rc.businessInfo.needsAttention(businessInfo.bCountry)}">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-home"></span>
                        </span>

                                <input type="text"
                                       ng-model="business.address.country"
                                       typeahead="country for country in countries | filter:$viewValue | limitTo:8"
                                       class="form-control"
                                       name="bCountry"
                                       id="bCountry"
                                       placeholder="Country">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label" for="bLang">Interface Language</label>

                            <div class="input-group col-sm-9"
                                 ng-class="{'has-error': rc.businessInfo.needsAttention(businessInfo.bLang)}">

                            <span class="ui-select">
                                 <select ng-model="format" ng-options="l for l in langs"
                                         name="bLang"
                                         id="bLang"
                                         ></select>
                            </span>

                            </div>
                        </div>


                    </div>
                    <div class="col-lg-6">
                        <h2>User Details</h2>

                        <div class="form-group">
                            <label  class="col-sm-3 control-label" for="bEmail">Email Adress</label>

                            <div class="input-group col-sm-9"
                                 ng-class="{'has-error': rc.businessInfo.needsAttention(businessInfo.bEmail)}">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </span>
                                <input type="email" required ng-model="business.user.email" id="bEmail" name="bEmail"
                                       class="form-control"
                                       placeholder="hint: user@example.com">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-3 control-label" for="bPassword">Password</label>

                            <div class="input-group col-sm-9"
                                 ng-class="{'has-error': rc.businessInfo.needsAttention(businessInfo.bPassword)}">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-home"></span>
                        </span>
                                <input type="password" required ng-model="business.user.password" id="bPassword"
                                       name="bPassword" data-ng-minlength="6" class="form-control"
                                       placeholder="min 6 digits">
                            </div>
                        </div>



                    </div>


                </div>
            </form>

            <form class="tab-pane" id="second" name="secondForm"
                  rc-submit rc-step>
                <h1>Enter second step data</h1>

            </form>
            <form class="tab-pane" id="last" name="lastForm"
                  rc-submit="completeWizard()" rc-step>
                <h2>Finish last step</h2>

                <div class="form-group">
                    <label  class="col-sm-3 control-label" class="control-label">First Name:</label>

                    <p class="form-control-static">{{ user.firstName
                        }}</p>
                </div>
                <div class="form-group">
                    <label  class="col-sm-3 control-label" class="control-label">Last Name:</label>

                    <p class="form-control-static">{{ user.lastName
                        }}</p>
                </div>
                <div class="form-group">
                    <label  class="col-sm-3 control-label" class="control-label">Address:</label>

                    <p class="form-control-static">
                        {{ user.streetAddress }}
                        <br/>
                        {{ user.city }}, {{ user.state }} {{
                        user.postalCode }}
                    </p>
                </div>
            </form>
        </div>
        <div class="form-group">
            <div class="pull-right">
                <a class="btn btn-default"
                   ng-click="rc.sampleWizard.backward()"
                   ng-show="rc.sampleWizard.currentIndex > rc.sampleWizard.firstIndex">Back</a>
                <a class="btn btn-primary"
                   data-loading-text="Please Wait..."
                   ng-click="rc.sampleWizard.forward()"
                   ng-show="rc.sampleWizard.currentIndex < rc.sampleWizard.navigationLength">Continue</a>
                <a class="btn btn-primary"
                   ng-click="rc.sampleWizard.forward()"
                   ng-show="rc.sampleWizard.currentIndex == rc.sampleWizard.navigationLength">Complete</a>
            </div>
        </div>
    </div>
</div>
</div>